.revel_color {
    color: rgb(0, 163, 224);
    font-size: 61.25px;
    font-weight: normal;
}


.jobs_status {
    width: 70%;
    padding-left: 1%;
    margin-left: 8%;
}


.row.job:nth-child(odd) {
    background: rgba(0, 163, 224,0.1);
}

.row.job:nth-child(even) {
    background: #f0f0f0;
}

.header {
    text-shadow: 0px 1px gray;
    font-size: 16px;
    border-bottom: 1px solid darkgray;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


.row.job {
    padding-bottom: 3px;
}

.finished {
    color: green;
}

.failed {
    color: darkred;
}

.queued {
    color: dodgerblue;
}

.started {
    color: orange;
}

.status_info {
    padding-left: 10px;
    color: darkgrey;
}

.status > span:first-child {
    width: 50px;
    float: left;
}